@charset "UTF-8";

@media (min-width: 768px){

    span#burguer {
        display: none;
    }

    menu > a {
        display: none;
    
    }

}

@media (max-width: 600px) {
    .principal {
        display: none;
    }

    .centro {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    img {
        max-width: 300px;
    }

    

    .caixa1 {
        width: 200px;
        height: 150px;
        padding: 70px;
        margin: 50px;
        
    }
    
    .caixa2 {
        width: 200px;
        height: 150px;
        padding: 70px;
        margin: 50px;
    }
    .caixa3 {
        width: 200px;
        height: 150px;
        padding: 70px;
        margin: 50px;
    }
    .caixa4 {
        width: 200px;
        height: 150px;
        padding: 70px;
        margin: 50px;
    }

    .caixa5 {
        width: 200px;
        height: 150px;
        padding: 70px;
        margin: 50px;
    }

    .container {
        display: block;
    }

    iframe {
        width: 100%;
        height: 350px;
    }
}