@charset "UTF-8";

@media screen and (min-width: 768px){

    span#burguer {
        display: none;
    }

    menu > a {
        display: none;
    
    }


}

@media (max-width: 768px) {
    .principal {
        display: none;
    }

    .centro {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    img {
        max-width: 400px;
    }
}